@font-face {
    font-family: Amadigi;
    src: url('../fonts/Amadigi.otf');
}

html{
    color: white;
}

/*List*/
ul, ol {
    display:  flex;
    list-style: none;
}

/*Hyperlinks*/
#footer-top a,
.navbar a{
    text-decoration: none;
}

a:visited{
    color: inherit;
}

/*Navbar*/
.navbar{
    margin: -10px -20px 0px -20px;
    padding: 15px 3px 25px 25px;
    background-color: #171b2a;;
    width: 100%;
    display: flex;
}

.navbar #label{
    font-family: Amadigi;
    font-size: xx-large;
    display: block;
    width: 10%;
    margin: 0%;
}

.navbar ul{
    width: 90%;
    margin-left: 0px;
    margin-right: 0px;
}

.navbar li{
    display: block;
    margin-left: 30px;
    margin-right: 0px;    
    overflow: hidden;
}

/*Main*/
.main{
    margin: -10px -20px 0px -20px;
    padding: 15px 3px 25px 25px;
    width:100%;
    background-color:black;
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

.container{
    display: flex;
    border-radius: 25px;
    padding: 20px;
    width: 50%;
    min-height: 250px;
    min-width: 600px;
    max-width: 800px;
    background-color: grey;
}


.text h1{
    font-size:2.5vw;
    text-align: center;
}

.text p{
    font-size: 1.3vw;
    text-align: center;
}

/*Introduction*/
#container-one{
    margin: 50px 40% 50px 10% ;
}

#introduction .text{
    display: block;
    width: 60%;
}

#introduction .potrait{
    display: block;
    width: 45%;
    margin: auto;
}

#introduction .potrait img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

/*Skill*/
#container-two{
    margin: 100px auto;
    display: block;
}

#skill .text{
    display: block;
    width: 100%;
}

/* Tables */

.tables {
    margin: 0 5px;
    padding: 0;
    list-style: none;
}

.tables p{
    margin:0;
    padding:0;
}

.tables li {
    margin: 3em auto 0 auto;
    padding: 0;
}

.tables th {
    text-align: left;
}

/*Experience*/
#container-three{
    margin: 100px 10%;
}

/*Fun Fact*/
#container-four{
    margin: 100px 0px 100px 25%;
}

/*Footer*/
#footer{
    width:100%;
    margin: -10px -20px 0px -20px;
    padding: 15px 3px 15px 25px;
    background-color: #171b2a;;
}

#footer-top .icons li{
    display: block;
    margin: 0% 15% 0% 5px;
}

#footer-top ul{
    width: 50%;
    margin-left: 0px;
}

#footer-bottom .copyright{
    text-align: center;
}

dl dt {
    display: block;
    font-weight: 400;
    margin: 0 0 1em 0;
}

dl dd {
    margin-left: 2em;
}

dl.alt dt {
    display: block;
    width: 3em;
    margin: 0;
    clear: left;
    float: left;
}

dl.alt dd {
    margin: 0 0 0.85em 5.5em;
}

dl.alt:after {
    content: '';
    display: block;
    clear: both;
}
